<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headerVendor.ejs')%>
  </head>

  <body>
    <span class="loader d-none" id="loader"></span>
    <!-- <%- include('./partials/onloadPopup.ejs')%> -->

    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <%- include('./partials/navbar.ejs')%> <%-
      include('./partials/pageheader.ejs')%> <%-
      include('./partials/domainWiseHackerCounter.ejs')%> <%-
      include('./partials/prizeSection.ejs')%> <%-
      include('./partials/upcomingHackathon.ejs')%> <%-
      include('./partials/aboutHackathon.ejs')%> <%-
      include('./partials/sponsor.ejs')%> <%- include('./partials/footer.ejs')%>
    </div>
    <!-- /Main Wrapper -->

    <%- include('./partials/footerVendor.ejs')%>
    <script>
      $(document).ready(function () {
        setTimeout(function () {
          // Show the modal
          $("#onloadPopup").modal("show");
        }, 1000); // Adjust the delay time as needed

        // Hide the modal when the close button is clicked
        $("#onloadPopup .btn-close").click(function () {
          $("#onloadPopup").modal("hide");
        });

        // Focus on an input element when the modal is shown
        $("#onloadPopup").on("shown.bs.modal", function () {
          $(this).find("input:first").focus();
        });
        // function to download button
        $("#downloadButton").click(function () {
          $("#download-icon")
            .removeClass("fas fa-download me-2")
            .addClass("fas fa-spinner fa-spin me-2");

          setTimeout(function () {
            window.location.href = "/download-brochure";

            $("#download-icon")
              .removeClass("fas fa-spinner fa-spin me-2")
              .addClass("fas fa-download me-2");
          }, 2000);
        });

        // counter
        updateTime();
      });

      function updateTime() {
        const targetDate = moment("2024-03-05 23:59:59", "YYYY-MM-DD HH:mm:ss");
        const currentTime = moment();

        if (currentTime.isAfter(targetDate)) {
          $(".clock-col").remove();
          $(".clock-container").text("Registration is closed now.");
          return;
        }

        const duration = moment.duration(targetDate.diff(moment()));
        $("html").css("--timer-day", "'" + padZero(duration.days()) + "'");
        $("html").css("--timer-hours", "'" + padZero(duration.hours()) + "'");
        $("html").css(
          "--timer-minutes",
          "'" + padZero(duration.minutes()) + "'"
        );
        $("html").css(
          "--timer-seconds",
          "'" + padZero(duration.seconds()) + "'"
        );

        requestAnimationFrame(updateTime);
      }

      function padZero(value) {
        return value < 10 ? "0" + value : value;
      }
    </script>
  </body>
</html>