<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/headerVendor.ejs')%>
</head>

<body>

  <!-- Main Wrapper -->
  <div class="main-wrapper">

    <%- include('./partials/navbar.ejs')%>

    <%- include('./partials/pageHeader.ejs')%>

    <%- include('./partials/domainWiseHackerCounter.ejs')%>

    <%- include('./partials/prizeSection.ejs')%>
    
    <%- include('./partials/upcomingHackathon.ejs')%>
    
    <%- include('./partials/aboutHackathon.ejs')%>
    
    <%- include('./partials/sponsor.ejs')%>

    <%- include('./partials/footer.ejs')%>

  </div>
  <!-- /Main Wrapper -->

  <%- include('./partials/footerVendor.ejs')%>

</body>

</html>