<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/headerVendor.ejs')%>
  </head>
  <body>
    <%- include('../partials/navbar.ejs')%>
    <div class="row align-items-center justify-content-center pt-5">
      <div class="col-8 mt-5 pt-3">
        <div class="my-3">
          <a href="/dashboard" class="btn btn-link text-decoration-none"
            ><p class="m-0 p-0 fs-5">
              <i class="fa-solid fa-arrow-left-long"></i> Back
            </p></a
          >
        </div>
        <table id="example" class="display" style="width: 100%">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Team name</th>
              <th>Institute</th>
              <th>No. of members</th>
              <th>UTR</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% let serialNumber = 1; %> <% pendingHackers.forEach(function(item)
            { %>
            <tr>
              <td><%= serialNumber %></td>
              <td><%= item.teamName %></td>
              <td><%= item.instituteName %></td>
              <td><%= item.numberOfMember %></td>
              <td><%= item.upiNumber %></td>
              <td>
                <span
                  class="badge rounded-pill text-bg-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  style="cursor: pointer"
                  data-user-id="<%= item._id %>"
                  >Pending</span
                >
              </td>
            </tr>
            <% serialNumber++; %> <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Verification Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Hacker verification
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="post" action="/verifyHacker" id="verify-form">
              <div class="mb-3">
                <label for="utr-no" class="form-label">UTR No.</label>
                <input
                  class="form-control"
                  id="utr-no"
                  aria-describedby="utrHelp"
                  placeholder="Please enter 12 digit UTR"
                  minlength="12"
                  maxlength="12"
                  required
                />
                <!-- <div id="utrHelp" class="form-text">
                  Enter the same UTR found in transaction.
                </div> -->
              </div>

              <button type="submit" class="btn btn-primary">Verify</button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partials/footerVendor.ejs") %>

    <script>
      $(document).ready(function () {
        function validateUTR(input) {
          let utrValue = input.value;
          if (/^\d{12}$/.test(utrValue)) {
            input.setCustomValidity("");
          } else {
            input.setCustomValidity("Please enter a valid 12-digit UTR");
          }
        }

        $("#example").DataTable({
          dom: "Bfrtip",
          buttons: [
            {
              extend: "csv",
              text: "Export data",
              className: "btn-own",
            },
          ],
        });

        $('.badge[data-bs-toggle="modal"]').on("click", function () {
          const userId = $(this).data("user-id");
          console.log("User ID:", userId);

          $("#utr-no").val("");
          $("#exampleModal").modal("show");

          $("#verify-form").submit(function (e) {
            e.preventDefault();

            const utrValue = $("#utr-no").val();

            // Make an AJAX request to the server for UTR verification
            $.ajax({
              url: "/verifyHacker",
              type: "POST",
              data: JSON.stringify({ userId: userId, utr: utrValue }),
              contentType: "application/json",
              success: function (data) {
                if (data.success) {
                  toastr.success(data.message);
                } else {
                  toastr.error(data.message);
                }

                // Close the modal
                $("#exampleModal").modal("hide");
              },
              error: function (error) {
                toastr.error("Error", error.responseJSON.message);
              },
            });
          });
        });
      });
    </script>
  </body>
</html>
